<h1>{{ article.title }}</h1>

<p> {{ article.text }} </p>

<p>
{% if article.entity_set.all %}
	<b>Entities:</b>
{% endif %}
{% for entity in article.entity_set.all %}
<li>  <a href={{entity.uri}}>{{ entity.title }}</a> </li>
{% endfor %}
</p>
<p>
{% if str_ass %}
	<b>Ten Association:</b>
{% endif %}
{% for a in str_ass|slice:":10" %}
<li>  {{a | safe}} </li>
{% endfor %}
</p>
<p> <a href="{% url 'processer:export' article.id  %}"> Export Associations </a></p>
<p> <a href="{% url 'processer:scoring' article.id  %}"> Score Associations </a></p>
<p> <a href="{% url 'processer:article-delete' article.id %}"> Delete this article </a></p>
<p> <a href="{% url 'processer:index'  %}"> Home </a></p>