
{% if article_list %}
<h2> Articles: </h2>
    <ul>
    {% for article in article_list %}
         <li><a href="{% url 'processer:detail' article.id %}">{{ article.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No article are available.</p>
{% endif %}
<p> <a href="{% url 'processer:article-add' %}"> Add new article </a> </p>

