<h1>Article creation</h1>

<form action="" method="post"> {% csrf_token %}
	<label>Title</label><input type="text" name="title"/ required="required"> <br />
	<label>Source</label><input type="text" name="source"/ > <br />
	<label>Url</label><input type="text" name="url"/ > <br />
	Insert article text below:<br />
	<textarea name="text" rows="10" cols="60"></textarea> <br />
	<label>Category</label><select name="category">
		<option value="Sport">Sport</option>
		<option value="Politics">Politics</option>
		<option value="Music">Music</option>
		<option value="Technology">Technology</option>
		<option value="Miscellanues">Miscellanues</option>
	</select><br />
	<input type="submit" value="Save" />
</form>
